{
  "web_db": {
    "host": "",
    "database": "",
    "username": "",
    "password": "",
    "port": "3306"
  },
  "stats_db": {
    "host": "",
    "database": "",
    "username": "",
    "password": "",
    "port": "3306"
  }
}